@use '../abstracts/variables' as v;
@import 'flatpickr/dist/flatpickr.min.css';

// Custom Flatpickr Styles
.flatpickr-calendar {
  background: v.$white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
  .flatpickr-day {
    &.selected {
      background: rgba(v.$rusty-orange, 0.4);
      color: v.$white;
      border-color: rgba(v.$rusty-orange, 0.5);
      
      &:hover {
       border-color: v.$rusty-orange;
       background-color: rgba(v.$rusty-orange, 0.6);
      }
    }
    
    &:hover {
      background: rgba(v.$rusty-orange, 0.1);
    }
  }

  .flatpickr-time {
    input {
      color: v.$text-dark;
    }
    .flatpickr-am-pm:hover,
    .flatpickr-hour:hover,
    .flatpickr-minute:hover {
      background: rgba(v.$rusty-orange, 0.1);
    }
  }
}
