@use '../abstracts/variables' as v;

.program-list-item a {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.program-icon {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  margin-left: 0.5rem;
  
  svg {
    width: 3rem;
    height: 3rem;
    fill: v.$rusty-orange;
  }
}

