@use 'sass:color';
@use '../../abstracts/variables' as v;
@use '../../abstracts/mixins' as m;
@use '../../base/animations' as a;

.create-contract-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50%;
  width: 70%;
  max-width: 500px;
  margin: 0 auto;

  @include m.atSmallMedium {
    width: 55%;
    height: 70%;
  }

  &__fields {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    min-height: 250px;
    width: 100%;
    max-width: 100%;
    padding-inline: 5px;
    padding-block: 5px;
    border: 1px solid rgba(v.$blue-grey, 0.25);
  }

  &__actions {
    padding: 1rem;
    border: 1px solid rgba(v.$blue-grey, 0.1);
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    margin-top: 0.7rem;
  }
}

/* Create contract */
.create-contract {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: rgba(v.$text-muted, 0.05);
  padding: 1rem;
  border-radius: v.$radius-md;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);

  @include m.atSmallMedium {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  @include m.atMedium {
    flex-direction: row-reverse;
  }

  &__actions {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.75rem;

    @include m.atMedium {
      flex-direction: row-reverse;
      align-items: center;
    }
  }

  &__disclaimer {
    font-size: v.$font-sm;
    color: v.$link-color;
    text-decoration: none;
    transition: color 0.2s;

    &:hover {
      color: v.$link-hover-color;
    }
  }

  &__counts {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    font-size: 1rem;
    gap: 1rem;

    @include m.atSmallMedium {
      justify-content: space-evenly;
      gap: 2rem;
    }

    .contract-count,
    .contract-count--admin {
      display: grid;
      gap: 5px;
      grid-template-columns: 1fr auto;
      align-items: center;

      @include m.atSmall {
        grid-template-columns: 1fr;
        grid-template-rows: 40px 1fr;
      }

      @include m.atMedium {
        grid-template-rows: 1fr;
      }

      &__title {
        display: grid;
        grid-template-columns: max-content 1fr;
        align-items: center;
        gap: 5px;
        font-weight: 500;
        color: v.$text-muted-dark;
      }

      span {
        justify-self: end;

        @include m.atSmall {
          justify-self: start;
        }

        @include m.atSmallMedium {
          justify-self: center;
        }
      }
    }
  }
}

// Reveal Fields
.form-group {
  position: relative;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;

  &.floating-label {
    width: 100%;
    position: relative;

    label {
      position: absolute;
      top: 0;
      left: 0;
      transform: translateY(-50%);
      padding: 0 0.5rem;
      transition: all 0.2s ease;
      pointer-events: none;
      color: v.$text-muted;
      font-size: 1rem;
    }
  }

  &.is-hidden {
    input,
    textarea,
    select {
      display: none;
    }

    .reveal-input-btn {
      display: inline-block;
      color: v.$rusty-orange;
      font-weight: 500;
      border: none;
      border-radius: v.$radius-sm;
      background: color.adjust(v.$rusty-orange, $alpha: -0.95);
      width: 100%;
      text-align: left;
      transition: all 0.2s ease;
      position: relative;
      pointer-events: auto;
      font-size: v.$font-base;
      padding: 0.1rem;

      &::after {
        content: '+';
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
        font-size: v.$font-xl;
        font-weight: bold;
      }

      &:hover {
        background: color.adjust(v.$rusty-orange, $alpha: -0.9);
        outline: 1px solid v.$rusty-orange;
      }

      &:focus {
        outline: 1px solid v.$rusty-orange;
      }
    }
  }

  &.active {
    &.floating-label {
      button:not(.reveal-input-btn) {
        transform: translateY(-50%) scale(0.8);
        color: v.$rusty-orange;
      }
    }

    input,
    textarea,
    select {
      display: block;
    }

    .reveal-input-btn {
      display: none;
    }
  }
}
