@use 'sass:color';
@use '../abstracts/variables' as v;

body {
  color: v.$text-dark;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
  position: relative;
  margin: 0;
  font-size: v.$font-base;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Cinzel', serif;
  text-transform: capitalize;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: inherit;
}

a {
  color: v.$link-color;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: v.$link-hover-color;
}

p {
  margin: 0 0 1.65em 0;
}

p,
li {
  line-height: 1.65;
}

.wp-block-list {
  list-style-type: disc;
  padding-left: 2rem;
}

ul,
ol {
  list-style: none;
  padding: 0;
}
